<%= render partial: 'layouts/header' %> 
<div>
<h1> All Wars </h1>
 
	<ul id = "wars">

		<% @wars.each do |war| %>

		<li>
			<%= link_to war.topic, war_path(war) %>
		</li>

		<% end %>

	</ul>
</div>
<%= render partial: 'layouts/footer' %> 