 body{
 	color: white;
	font-family:"Times New Roman", Times, serif;
	/*background-color: black;*/

	background:url('/assets/dark_mosaic.png');
	background-repeat: repeat;
	/*background-size: 1300px 700px;*/
	background-attachment: fixed;

	padding-bottom: 50px;
	padding-left:70px;
	padding-right: 50px;
 }

a{
	color : white;
	text-shadow:none;
}
a:hover{
	color:white;
}

.navbar .brand {
	text-shadow:none;
	color:white;
}

 textarea{
	width: 500px; height: 112px;
}

.heading{
	font-family:"Times New Roman", Times, serif;
	font-style: bold;
	font-size: 20px;
	color: #fff;
}

.navbar-inner{
	background: none;
	background-color: #000000;
	opacity: .7
}

