 body{
 	color: white;
	font-family:"Times New Roman", Times, serif;
	/*background-color: black;*/
	background-image: url('/assets/warplane.jpg');
	/*background-position: center;*/
	background-repeat: no-repeat;
	background-color:#ccc;

	padding-bottom: 50px;
	padding-left:70px;
	padding-right: 50px;
 }

a{
	color : white;
	text-shadow:none;
}
a:hover{
	color:white;
}

.navbar .brand {
	text-shadow:none;
	color:white;
}

 textarea{
	width: 500px; height: 112px;
}

.heading{
	font-family:"Times New Roman", Times, serif;
	font-style: italic;
	font-size: 20px;
	color: green;
}

.navbar-inner{
	background: none;
	background-color: #000000;
	opacity: .7
}

