
<div id="menu" style="height:400px;width:150px;float:right;">
<b>Latest wars</b><br>

<ul id = "wars">

		<% @wars.each do |war| %>

		<li>
			<%= link_to war.topic, war_path(war) %>
		</li>


		<% end %>

	</ul>
</div>