<table id = "Comments View">
	
	<tr>
		<td><%= link_to image_tag(comment.user.user_image(:small)),user_path(comment.user) %></td>
		<td><%= link_to comment.user.username, user_path(comment.user) %> says  
		
		<%= comment.comment %></td>
	
</table>

