<div class="offset3 span9" style="margin-top:15px;">
  	<div class="span5" >
  		<div class="box-it">
  			<div align="center">
  				<div  class="heading" style="display:inline !important;"> 
  					<%= @war.topic %>
  				</div>
  			</div>
  		</div><br/>
  		<%= render partial: 'form' %>
  	</div>
</div>