<h1> All Wars </h1>

	<ul id = "wars">

		<% @wars.each do |war| %>

		<li>
			<%= link_to war.topic, war_path(war) %>
		</li>


		<% end %>

			<% if user_signed_in? %>
			<%= link_to "Create a new war", new_war_path %>
			<% end %>
	</ul>