<div class="offset3 span9" style="margin-top:15px;">
  	<div class="span5" >
    	<div class="box-it">
     	 <div class = "heading"  style="text-align:center"> Create New War</div>
    	</div><br/>
		<%= render partial: 'form' %>
	</div>
</div>
